{
  "extends": ["plugin:storybook/recommended", "plugin:@typescript-eslint/recommended"],
  "overrides": [
    {
      "files": ["*.stories.@(ts|tsx|js|jsx|mjs|cjs)", "*.@(ts|tsx|js|jsx|mjs|cjs)"],
      "rules": {
        "storybook/hierarchy-separator": "off",
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ],
  "ignorePatterns": ["node_modules/", "**/dist/"],
  "parser": "@typescript-eslint/parser"
}
