.SidebarLayout {
  .main-container {
    @apply flex pt-10 bg-gray-lighter pb-20 md:px-lg;

    .container {
      @apply mx-auto flex gap-x-5;
    }

    main {
      @apply flex-grow border ml-5;
    }
  }

  .next-link-a {
    @apply sr-only focus:not-sr-only bg-primary-light border-2 border-black p-4 text-black inline-block focus:absolute focus:top-0 focus:left-0 focus:right-0 focus:m-auto focus:w-80 text-center;
  }

  .TabMenu {
    .SearchBar {
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
      max-width: 460px;
    }
  }
}
