/* Tailwind styles are imported via tailwind.css */

/* Storybook-specific overrides */
html {
  font-size: 0.625em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: raleway, sans-serif;
}

/* Styling for Show code */
pre.prismjs .tag {
  padding-left: 0.05em;
  padding-right: 0.05em;
}

.docblock-code-toggle--disabled[disabled=''] {
  display: none;
}

[type='radio']:checked {
  background-image: unset;
}

input {
  margin: unset;
}
