@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 0.625em;
  }
  body {
    @apply text-base;
    font-family: Arial, Helvetica, sans-serif;
    a {
      @apply text-vattjom-text-primary;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: raleway, sans-serif;
  }

  /* Styling for Show code */
  pre.prismjs .tag {
    @apply px-[.05em];
  }

  .docblock-code-toggle--disabled[disabled=''] {
    @apply hidden;
  }

  #storybook-docs > .docs-wrapper > .sbdocs {
    &.sbdocs-preview,
    &.sbdocs-wrapper,
    &.sbdocs-wrapper .sb-anchor > .sbdocs.sbdocs-preview,
    &.sbdocs-wrapper > .sbdocs-content > *:not(.sb-anchor) p,
    &.sbdocs-wrapper > .sbdocs-content > *:not(.sb-anchor) h1,
    &.sbdocs-wrapper > .sbdocs-content > *:not(.sb-anchor) h2,
    &.sbdocs-wrapper > .sbdocs-content > *:not(.sb-anchor) h3,
    &.sbdocs-wrapper > .sbdocs-content > *:not(.sb-anchor) h4,
    &.sbdocs-wrapper > .sbdocs-content > *:not(.sb-anchor) h5,
    &.sbdocs-wrapper > .sbdocs-content > *:not(.sb-anchor) h6,
    &.sbdocs-wrapper > .sbdocs-content > *:not(.sb-anchor) th,
    &.sbdocs-wrapper > .sbdocs-content > *:not(.sb-anchor) td,
    &.sbdocs-wrapper > .sbdocs-content > *:not(.sb-anchor) ul,
    &.sbdocs-wrapper > .sbdocs-content > *:not(.sb-anchor) li,
    .docblock-argstable tbody.docblock-argstable-body > tr > *,
    .docblock-argstable-head td,
    thead.docblock-argstable-head th,
    .docblock-typeset,
    .docblock-typeset > * > * {
      @apply bg-background text-body;
    }

    &.sbdocs-wrapper > *:not(.sb-anchor) tr:nth-of-type(2n) {
      @apply bg-background-100;
    }
  }

  .sbdocs.sbdocs-preview {
    @apply border-divider;
  }

  .docs-preview {
    all: initial !important;
    @apply bg-background;
  }

  .docs-preview-canvas {
    all: unset !important;
    @apply bg-background;
  }

  [type='radio']:checked {
    background-image: unset;
  }
  input {
    margin: unset;
  }
}
