@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h4,
h6 {
  font-family: raleway, sans-serif;
}

/* Styling for Show code */
pre.prismjs .tag {
  @apply px-[.05em];
}

.docblock-code-toggle--disabled[disabled=''] {
  @apply hidden;
}

.docs-preview {
  all: initial !important;
}

.docs-preview-canvas {
  all: unset !important;
}
