@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Arial, Helvetica, sans-serif;
    a {
      @apply text-vattjom-text-primary;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: raleway, sans-serif;
  }

  /* Styling for Show code */
  pre.prismjs .tag {
    @apply px-[.05em];
  }

  .docblock-code-toggle--disabled[disabled=''] {
    @apply hidden;
  }

  .sbdocs {
    &.sbdocs-wrapper,
    .sbdocs-preview,
    .docblock-argstable tbody.docblock-argstable-body > tr > *,
    .docblock-argstable-head td,
    thead.docblock-argstable-head th,
    th,
    td,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    ul,
    li,
    .material-icons,
    .docblock-typeset,
    .docblock-typeset > * > * {
      @apply bg-background text-body;
    }
  }
  // .docblock-argstable-body td {
  //   @apply text-black;
  // }

  // body.dark .docblock-argstable {
  //   tr:nth-of-type(2n) {
  //     @apply bg-gray-700;
  //   }
  //   .docblock-argstable-head th {
  //     @apply text-primitives-gray-lightest;
  //   }
  // }

  .sbdocs.sbdocs-preview {
    @apply border-divider;
  }

  .docs-preview {
    all: initial !important;
    @apply bg-background;
  }

  .docs-preview-canvas {
    all: unset !important;
    @apply bg-background;
  }

  [type='radio']:checked {
    background-image: unset;
  }
  input {
    margin: unset;
  }
}
